---

interface props {
  inputType: string;
  inputPlaceholder: string;
}

const { inputType, inputPlaceholder } = Astro.props;
---

<div
  class="mail h-16 rounded-lg flex items-center border border-solid border-white px-2 shadow-xl gap-2"
> 
  <slot name="icon" >
    
  </slot>
  <input
    class="h-full w-full rounded-lg bg-inherit caret-black bg-inherit bg-transparent"
    type={inputType}
    name="email"
    id="1"
    placeholder={inputPlaceholder}
  />
</div>
