---
import Logo from "../../components/logo.astro";
import LayoutDashboard from "../../layouts/LayoutDashboard.astro";
import Modal from "../../components/modales/modal.astro";
import Modal1 from "../../components/modales/modal1.astro";
import Aadirmodulo from "../../components/modales/añadirmodulo.astro";
import Modalopciones from "../../components/modales/modalopciones.astro";
import Modaleditar from "../../components/modales/modaleditar.jsx";
import SideBar from "../../components/nav/sideBar.astro";
import BotonGuardar from "../../components/modales/modalprueba.jsx";
import { Button } from "@tremor/react";
---

<style>
  .custom-scrollbar::-webkit-scrollbar {
    width: 13px; /* Ancho de la barra de desplazamiento */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #262b32; /* Color de fondo de la barra de desplazamiento */
    border-radius: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar (thumb) de la barra de desplazamiento */
    border-radius: 10px; /* Redondea las esquinas del pulgar */
    cursor: pointer;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar al pasar el ratón por encima */
  }
</style>

<LayoutDashboard title="Talleres">
  <main class="flex flex-row w-full bg-greyBlack h-screen">
    <SideBar condicion={1} />
    <div class="flex flex-col w-full h-full">
      <div
        class="bg-greyBlack flex content-center pr-5 pt-3.5 justify-end h-20 w-full"
      >
        <BotonGuardar />
      </div>
      <div class="bg-greyBg flex flex-col px-8 py-5 h-full w-full">
        <div class="left flex flex-row gap-5 p-1">
          <div class="h-full flex flex-col gap-[5rem] justify-center">
            <Modaleditar condicion={7} client:visible />
          </div>
        </div>
      </div>
    </div>
  </main>
</LayoutDashboard>
