---
import Logo from "../../components/logo.astro";
import LayoutDashboard from "../../layouts/LayoutDashboard.astro";
import Modal from "../../components/modales/modal.astro";
import Modal1 from "../../components/modales/modal1.astro";
import Aadirmodulo from "../../components/modales/a単adirmodulo.astro";
import Modalopciones from "../../components/modales/modalopciones.astro";
import SideBar from "../../components/nav/sideBar.astro";
import Boton from "../../components/inputs/boton.jsx";
---

<LayoutDashboard title="talleres">
    <main class="flex flex-row w-full bg-greyBlack h-screen">
        <div class="flex flex-col w-full h-full">
            <div
                class="bg-greyBlack flex content-center pr-5 pt-3.5 justify-end h-20 w-full"
            >
            </div>
            <div class="bg-greyBg flex flex-col px-8 py-5 h-full w-full">
                <div class="pb-1">
                    <p class="text-2xl text-white">Talleres</p>
                </div>
                <div class="left flex flex-row gap-5 p-1">
                    <div
                        class="container
                                 bg-greyBlack rounded-xl p-4 max-h-[30rem] overflow-y-auto custom-scrollbar"
                    >
                        <div class="flex flex-wrap gap-5 items-center">
                            <a href="/talleres/editartalleres"><Modal texto={"MEJORA DE OPERACIONES"} colorborde="border-principalGreen" colorhover="hover:bg-principalGreen" /></a>
                            <a href="/talleres/editartalleres"><Modal texto={"GERENCIA DE MARKETING"} colorborde="border-principalGreen" colorhover="hover:bg-principalGreen" /></a>
                            <a href="/talleres/editartalleres"><Modal texto={"GERENCIA DE VENTAS"} colorborde="border-principalGreen" colorhover="hover:bg-principalGreen" /></a>
                            <a href="/talleres/editartalleres"><Modal texto={"GERENCIA DE TALENTO HUMANO"} colorborde="border-principalGreen" colorhover="hover:bg-principalGreen" /></a>
                            <a href="/talleres/editartalleres"><Modal texto={"FINANZAS GERENCIALES"} colorborde="border-principalGreen" colorhover="hover:bg-principalGreen" /></a>
                            <a href="/talleres/nuevotaller"><Aadirmodulo /></a>
                        </div>
                    </div>

                    <div
                        class="flex flex-col gap-10 justify-center"
                    >
                        <Modalopciones texto={"Modulos"} URL="/modulos/modulos" />
                        <Modalopciones texto={"Sue単os"} URL="/sue単os/sue単os" />
                        <Modalopciones texto={"Preguntas"} URL="/preguntas/preguntas" />
                    </div>
                </div>
            </div>
        </div>
    </main></LayoutDashboard
>
