---
import { Elementosempresas } from '../../helpers/elementsempresas';

interface Props {
  numeroEmpresas: number;
  tipoTarjeta: string;
  empresaicon: string
}

const { numeroEmpresas, tipoTarjeta, empresaicon } = Astro.props;
---

<div class="container bg-greyBlack rounded-xl p-8">
  <div class="flex flex-row">
    <i class=`fa-solid ${empresaicon} text-4xl`></i>
    <p class="pl-2 text-4xl">{numeroEmpresas}</p>
  </div>
  <p class="mt-3 text-xl">{tipoTarjeta}</p>
</div>
