/* FormRegistro.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Estilos para el modal */
.modal-container {
  position: fixed;
  top: 10%;
  left: 0;
  width: 33.333%; /* Ajusta el ancho del modal según tu preferencia */
  background-color: #ffffff;
  border-radius: 0 1.5rem 1.5rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.modal-container.show {
  transform: translateX(0);
}

.modal-header {
  background-color: red; /* Color de fondo del encabezado del modal */
  color: #ffffff;
  padding: 1rem;
  border-radius: 0 1.5rem 0 0;
  position: relative;
}

.modal-header h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.modal-header .close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.25rem;
  cursor: pointer;
}

.modal-body {
  padding: 1rem;
}

.modal-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-body ul li {
  color: black; /* Color del texto de los mensajes de error */
  margin-bottom: 0.5rem;
}
