---
import LayoutDashboard from "../../layouts/LayoutDashboard.astro";
import Boton from "../../components/inputs/boton.jsx";
import iconGB from "../../images/icons/iconsEditUser/GoBack.png";
import iconUser from "../../images/icons/iconsEditUser/User.png";
import Input3 from "../../components/inputs/input3/input3.jsx";
import FormsEditaruser from "../../components/forms/formsEditaruser/formsEditaruser";
import GoBack from "../../components/inputs/goback/goBack";
import { Infouser } from '../../helpers/edituser.js';
---

<LayoutDashboard title="Editar Usuario">
  <main class="flex flex-row w-full bg-greyBlack h-screen">
    <div class="flex flex-col w-full h-full">
      <div
        class="bg-greyBlack flex content-center pt-4 pr-5 justify-end h-20 w-full"
      >
      </div>
      <div class="bg-greyBg py-4 flex flex-col px-8 h-full w-full">
        <GoBack client:visible text={`Usuarios Registrados ${Infouser[0].nombres} ${Infouser[0].apellidos}`}></GoBack>
        <div class="bg-greyBlack flex flex-col px-10 w-full rounded-md">
          <div class="flex flex-row py-2">
            <img src={iconUser.src} class="p-12" alt="" />
            <div
              class="flex flex-col justify-center gap-5 p-12 text-white font-semibold"
            >
              <p class="text-4xl">Brian Marin Salchimonster</p>
              <p>briandmh365@gmail.com</p>
              <p class="font-medium">Administrador</p>
            </div>
          </div>
          <div class="flex flex-col w-full px-14">
            <p class="text-white  text-3xl">
              Informacion Personal
            </p>
            <FormsEditaruser client:visible />
          </div>
        </div>
      </div>
    </div>
  </main>
</LayoutDashboard>
