---
interface Props {
    nombre: string;
    sector_empresarial: string;
    fecha: string;
}

const {nombre, sector_empresarial, fecha} = Astro.props;
---

<tr class="bg-transparent border-transparent">
    <td
      class="p-5 py-8 text-sm w-[4rem] text-white whitespace-nowrap"
    >
      {nombre}
    </td>
    <td
      class="p-5 text-sm w-[4rem] text-white whitespace-nowrap"
    >
      {sector_empresarial}
    </td>
    <td
      class="p-5 text-sm w-[4rem] text-left whitespace-nowrap"
    >
      <span
        class="font-medium tracking-wider text-white rounded-lg"
        >{fecha}</span
      >
    </td>
    <td
      class="p-5 text-sm w-[4rem] text-center whitespace-nowrap"
    >
      <button
        class="p-2 pl-4 pr-5 tracking-wide text-sm transition-colors duration-200 bg-transparent transform border-solid rounded-lg hover:bg-principalGreen hover:text-white hover:border-solid border hover:border-principalGreen"
      >
        Ver Detalles
      </button>
    </td>
  </tr>
