---
interface Props {
    nombre_empresa: string;
    representante: string;
    razon_social: string;
}

const {nombre_empresa, representante, razon_social} = Astro.props;
---

<tr class="bg-transparent border-transparent">
    <td
      class="p-5 py-8 text-lg w-[4rem] text-white whitespace-nowrap"
    >
      {nombre_empresa}
    </td>
    <td
      class="p-5 text-lg w-[4rem] text-white whitespace-nowrap"
    >
      {representante}
    </td>
    <td
      class="p-5 text-lg w-[4rem] text-left whitespace-nowrap"
    >
      <span
        class="font-medium tracking-wider text-white rounded-lg"
        >{razon_social}</span
      >
    </td>
    <td
      class="p-5 text-sm w-[4rem] text-center whitespace-nowrap"
    >
      <button
        class="p-4 pl-4 pr-4 tracking-wide text-lg transition-colors duration-200 bg-transparent transform border-solid rounded-lg hover:bg-principalGreen hover:text-white hover:border-solid border hover:border-principalGreen"
      >
        Ver Empresa
      </button>
    </td>
    <td
    class=" text-xl w-[4rem] text-center whitespace-nowrap"
  >
    <button
      class="p-4 pl-5 pr-5 tracking-wide text-xl transition-colors duration-200 bg-principalGreen transform border-solid rounded-lg hover:bg-principalGreen hover:text-principalGreen  hover:bg-colorwhite"
    >
    <i class="fa-solid fa-check"></i>
    </button>
    <button
      class="p-4 pl-5 pr-5 tracking-wide text-xl transition-colors duration-200 bg-red transform border-solid rounded-lg hover:bg-h hover:text-red  hover:bg-colorwhite"
    >
    <i class="fa-solid fa-xmark"></i>
    </button>
  </td>
   
  </tr>