<table
                        class="overflow-auto w-full justify-center rounded"
                      >
                        <thead class="bg-principalGreen border rounded-xl">
                          <th class="w-28 p-5 text-left">Nombre</th>
                          <th class="w-52 p-5 text-left">Sector empresarial</th>
                          <th class="w-15 p-5 text-left">Fecha</th>
                          <th class="w-6 p-5 pr-20 text-center">Informacion</th>
                        </thead>
                        <tbody
                          class="overflow-auto divide-y border border-white rounded"
                        >
                          <tr class="bg-greyBg border-white">
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                            >
                              <a href="#" class="text-blue-500 hover:underline"
                                >Netflix</a
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-white whitespace-nowrap"
                            >
                              Entretenimiento
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap border-white"
                            >
                              <span
                                class="p-1.5 text-xs font-medium tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
                                >01 may 2024</span
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                              ><div class="pr-3 items-center">
                                <button
                                  class="p-2 pl-4 pr-5 tracking-wide text-sm transition-colors duration-200 transform border-solid rounded-lg hover:bg-principalGreen hover:text-white hover:border-solid border hover:border-principalGreen"
                                >
                                  Ver Detalles
                                </button>
                              </div></td
                            >
                          </tr>
                          <tr class="bg-greyBg border-white">
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                            >
                              <a href="#" class="text-blue-500 hover:underline"
                                >Netflix</a
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-white whitespace-nowrap"
                            >
                              Entretenimiento
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap border-white"
                            >
                              <span
                                class="p-1.5 text-xs font-medium tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
                                >01 may 2024</span
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                              ><div class="pr-3 items-center">
                                <button
                                  class="p-2 pl-4 pr-5 tracking-wide text-sm transition-colors duration-200 transform border-solid rounded-lg hover:bg-principalGreen hover:text-white hover:border-solid border hover:border-principalGreen"
                                >
                                  Ver Detalles
                                </button>
                              </div></td
                            >
                          </tr>
                          <tr class="bg-greyBg border-white">
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                            >
                              <a href="#" class="text-blue-500 hover:underline"
                                >Netflix</a
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-white whitespace-nowrap"
                            >
                              Entretenimiento
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap border-white"
                            >
                              <span
                                class="p-1.5 text-xs font-medium tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
                                >01 may 2024</span
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                              ><div class="pr-3 items-center">
                                <button
                                  class="p-2 pl-4 pr-5 tracking-wide text-sm transition-colors duration-200 transform border-solid rounded-lg hover:bg-principalGreen hover:text-white hover:border-solid border hover:border-principalGreen"
                                >
                                  Ver Detalles
                                </button>
                              </div></td
                            >
                          </tr>
                          <tr class="bg-greyBg border-white">
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                            >
                              <a href="#" class="text-blue-500 hover:underline"
                                >Netflix</a
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-white whitespace-nowrap"
                            >
                              Entretenimiento
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap border-white"
                            >
                              <span
                                class="p-1.5 text-xs font-medium tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
                                >01 may 2024</span
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                              ><div class="pr-3 items-center">
                                <button
                                  class="p-2 pl-4 pr-5 tracking-wide text-sm transition-colors duration-200 transform border-solid rounded-lg hover:bg-principalGreen hover:text-white hover:border-solid border hover:border-principalGreen"
                                >
                                  Ver Detalles
                                </button>
                              </div></td
                            >
                          </tr>
                          <tr class="bg-greyBg border-white">
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                            >
                              <a href="#" class="text-blue-500 hover:underline"
                                >Netflix</a
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-white whitespace-nowrap"
                            >
                              Entretenimiento
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap border-white"
                            >
                              <span
                                class="p-1.5 text-xs font-medium tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
                                >01 may 2024</span
                              >
                            </td>
                            <td
                              class="p-5 text-sm text-gray-700 whitespace-nowrap"
                              ><div class="pr-3 items-center">
                                <button
                                  class="p-2 pl-4 pr-5 tracking-wide text-sm transition-colors duration-200 transform border-solid rounded-lg hover:bg-principalGreen hover:text-white hover:border-solid border hover:border-principalGreen"
                                >
                                  Ver Detalles
                                </button>
                              </div></td
                            >
                          </tr>
                        </tbody>
                      </table>