<table class="overflow-auto w-full justify-center rounded-xl">
    <thead class="bg-principalGreen border rounded-xl text-white">
        <th class="w-[2rem] p-5 text-left">Nombre</th>
        <th class="p-5 text-center">MISE encargado</th>
        <th class="w-28 p-5 text-right">Rol</th>
    </thead>
    <tbody class="overflow-auto divide-y border border-white rounded">
        <tr class="bg-greyBlack border-white">
            <td class="p-5 text-sm whitespace-nowrap">
                <p class="text-white w-[8rem]">
                    Juan Fernando Grajales Ibarguen
                </p>
            </td>
            <td
                class="p-5 text-sm w-40 text-center text-white whitespace-nowrap"
            >
                MISE - Fortalecimiento
            </td>
            <td
                class="p-5 text-sm w-40 text-right whitespace-nowrap border-white"
            >
                <span
                    class="p-1.5 font-medium tracking-wider text-white rounded-lg"
                    >Coordinador</span
                >
            </td>
        </tr>
        <tr class="bg-greyBlack border-white">
            <td class="p-5 text-sm whitespace-nowrap">
                <p class="text-white w-[8rem]">
                    Juan Fernando Grajales Ibarguen
                </p>
            </td>
            <td
                class="p-5 text-sm w-40 text-center text-white whitespace-nowrap"
            >
                MISE - Fortalecimiento
            </td>
            <td
                class="p-5 text-sm w-40 text-right whitespace-nowrap border-white"
            >
                <span
                    class="p-1.5 font-medium tracking-wider text-white rounded-lg"
                    >Coordinador</span
                >
            </td>
        </tr>
        <tr class="bg-greyBlack border-white">
            <td class="p-5 text-sm whitespace-nowrap">
                <p class="text-white w-[8rem]">
                    Juan Fernando Grajales Ibarguen
                </p>
            </td>
            <td
                class="p-5 text-sm w-40 text-center text-white whitespace-nowrap"
            >
                MISE - Fortalecimiento
            </td>
            <td
                class="p-5 text-sm w-40 text-right whitespace-nowrap border-white"
            >
                <span
                    class="p-1.5 font-medium tracking-wider text-white rounded-lg"
                    >Coordinador</span
                >
            </td>
        </tr>
        <tr class="bg-greyBlack border-white">
            <td class="p-5 text-sm whitespace-nowrap">
                <p class="text-white w-[8rem]">
                    Juan Fernando Grajales Ibarguen
                </p>
            </td>
            <td
                class="p-5 text-sm w-40 text-center text-white whitespace-nowrap"
            >
                MISE - Fortalecimiento
            </td>
            <td
                class="p-5 text-sm w-40 text-right whitespace-nowrap border-white"
            >
                <span
                    class="p-1.5 font-medium tracking-wider text-white rounded-lg"
                    >Coordinador</span
                >
            </td>
        </tr>
        <tr class="bg-greyBlack border-white">
            <td class="p-5 text-sm whitespace-nowrap">
                <p class="text-white w-[8rem]">
                    Juan Fernando Grajales Ibarguen
                </p>
            </td>
            <td
                class="p-5 text-sm w-40 text-center text-white whitespace-nowrap"
            >
                MISE - Fortalecimiento
            </td>
            <td
                class="p-5 text-sm w-40 text-right whitespace-nowrap border-white"
            >
                <span
                    class="p-1.5 font-medium tracking-wider text-white rounded-lg"
                    >Coordinador</span
                >
            </td>
        </tr>
    </tbody>
</table>
