---
import InfoEmpresas from "./infoEmpresas.astro"
---

<table class="overflow-auto w-full justify-center rounded-xl">
  <thead
    class="bg-greyBlack border-textBg rounded-xl w-[20rem] text-white top-0 z-10"
  >
    <th class="w-[4rem] p-5 text-left">Nombre</th>
    <th class="w-[4rem] p-5 text-left">Sector empresarial</th>
    <th class="w-[4rem] p-5 text-left">Fecha</th> 
    <th class="w-[4rem] p-5 text-center">Información</th>
  </thead>
  <tbody
    class="overflow-auto divide-y border border-textBg border-t-0 rounded"
  >
    <InfoEmpresas nombre="Netflix" sector_empresarial="Aña" fecha="20/02/2024" />
  </tbody>
</table>
