---
import InfoUser from "./infoUser.astro"
---


<table class="overflow-auto w-full justify-center rounded-xl">
    <thead class="bg-principalGreen border-textBg rounded-xl text-white sticky top-0 z-10">
        <th class="w-[2rem] p-5 text-left">Nombre</th>
        <th class="p-5 text-center">MISE encargado</th>
        <th class="w-28 p-5 text-right">Rol</th>
        
    </thead>
    <tbody class="overflow-auto divide-y border border-textBg border-t-0 rounded ">
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
        <InfoUser nombre="Juan Fernando Grajales Ibarguen" MISE="MISE - Fortalecimiento" rol="Coordinador" />
    </tbody>
</table>