---
import InfoAE from "./infoAE.astro"
---

<table class="overflow-auto w-full justify-center rounded-xl">
  <thead
    class="bg-dimgray border-textBg rounded-xl w-[20rem] text-white top-0 z-10"
  >
    <th class="w-[4rem] p-5 text-left">Empresa</th>
    <th class="w-[4rem] p-5 text-left">Representante</th>
    <th class="w-[4rem] p-5 text-left">Razon social</th> 
    <th class="w-[4rem] p-5 text-center">Información</th>
    <th class="w-[2rem] p-5 text-center"></th>
    
    
  </thead>
  <tbody
    class="overflow-auto divide-y border border-textBg border-t-0 rounded"
  >
    <InfoAE nombre_empresa="Netflix" representante="brian gatito furry" razon_social="entretenimiento" />
    
  </tbody>
</table>