---
interface Props {
    texto? : string;
    colorborde : string;
    colorhover : string;
}

const {texto, colorborde, colorhover} = Astro.props

---


<div class=`flex w-60 h-40 border ${colorborde} rounded-xl justify-center items-center text-sm uppercase p-10 overflow-hidden ${colorhover} ease-in duration-150`>
    <p class="text-center font-semibold text-white"> {texto}  </p>
</div>