---
interface Props {
    texto? : string;
}

const {texto} = Astro.props
---


<div class="flex w-60 h-40 border cursor-pointer text-white border-principalGreen rounded-xl justify-center items-center text-sm uppercase p-1 overflow-hidden ease-in duration-150
    hover:bg-principalGreen hover:text-white
    active:bg-principalGreen active:text-white">
    <p class="text-center font-semibold">{texto}</p>
</div>