---
interface Props {
    condicion: number;
}

const { condicion } = Astro.props;

import Input3 from "../inputs/input3
import { TextareaHero } from "../inputs/TextArea";

---
<style>

  .custom-scrollbar::-webkit-scrollbar {
    width: 13px; /* Ancho de la barra de desplazamiento */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #262B32; /* Color de fondo de la barra de desplazamiento */
    border-radius: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar (thumb) de la barra de desplazamiento */
    border-radius: 10px; /* Redondea las esquinas del pulgar */
    cursor: pointer;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar al pasar el ratón por encima */
  }
  
  .inputext {
    word-wrap: break-word; /* Permite que el texto salte a la siguiente línea */
    white-space: pre-wrap; /* Mantiene los espacios en blanco y permite saltos de línea */
    resize: vertical;
  }

  </style>

{condicion === 1 && (
    // Nuevo Modulo
    <div class="flex">
      <div
          class=" flex-col bg-greyBlack rounded-xl gap-3 text-center p-12 flex justify-center items-start"
      >
          <p class="text-xl h-5 pb-10 text-white">Nuevo Modulo</p>
          <div class="flex flex-col justify-center items-center gap-6">
              <Input3 DataType="Nombre" inputPlaceholder="Nombre Modulo" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[25rem]" additionalClass="" />
              <Input3 DataType="Preguntas" inputPlaceholder="Preguntas Modulo" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[25rem]" additionalClass=""/>
              <Input3 DataType="Sueños" inputPlaceholder="SUEÑOS EXPRESS" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[25rem]" additionalClass=""/>
          </div>
      </div>
    </div>
  )}

{condicion === 2 && (
    // Editar Modulo
    <div class="flex flex-col gap-3">
      
      <div
          class="container flex-col bg-greyBlack rounded-xl gap-3 text-center p-5 flex justify-center items-start"
      >
          
          <div class="flex flex-col justify-center items-center gap-6">
            <div class="flex flex-row items-center text-start content-center h-[4rem]">
              <p class="font-semibold text-textBg w-[10rem]">Nombre</p>
              <p class="w-[17rem] text-textBg font-semibold">Nombre Modulo</p>
             </div>
             <div class="flex flex-row items-center text-start content-center h-[4rem]">
              <p class="font-semibold text-textBg w-[10rem]">Preguntas</p>
              <p class="w-[17rem] text-textBg font-semibold">Preguntas Modulo</p>
             </div>
             <div class="flex flex-row items-center text-start content-center h-[4rem]">
              <p class="font-semibold text-textBg w-[10rem]">Sueños</p>
              <p class="w-[17rem] text-textBg font-semibold">SUEÑOS EXPRESS</p>
             </div>
          </div>
      </div>
      <div
          class="container flex-col bg-greyBlack rounded-xl gap-3 text-center p-5 flex justify-center items-start"
      >
          <p class="text-xl h-5 pb-10 text-white">Editar Modulo</p>
          <div class="flex flex-col justify-center items-center gap-6">
              <Input3 DataType="Nombre" inputPlaceholder="Nombre Modulo" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/>
              <Input3 DataType="Preguntas" inputPlaceholder="Preguntas Modulo" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/>
              <Input3 DataType="Sueños" inputPlaceholder="SUEÑOS EXPRESS" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/>
          </div>
      </div>
    </div>
  )}
  
  {condicion === 3 && (
    // Nuevo Sueño
    <div class="flex flex-col gap-3">
      <div
          class="container flex-col bg-greyBlack rounded-xl gap-3 text-center p-5 flex justify-center items-start"
      >
          <p class="text-xl h-5 pb-10 text-white">Nuevo Sueño</p>
          <div class="flex flex-col justify-center items-center gap-6">
              <Input3 DataType="Sueño" inputPlaceholder="Nombre Sueño" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/>
              <TextareaHero DataType="Medición" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" />
              {/* <Input3 DataType="Medición" inputPlaceholder="Pregadadads" inputType="text" height="h-[9rem]" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/> */}
              <Input3 DataType="Modulo" inputPlaceholder="Preguntas Modulo" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/>
              <Input3 DataType="Nivel" inputPlaceholder="SUEÑOS EXPRESS" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/>
          </div>
      </div>
    </div>
  )}

{condicion === 4 && (
    // Editar Sueños
    <div class="flex flex-col gap-4">
      <p class="text-xl h-5 pb-4 text-white">Informacion de Sueño</p>
      <div
          class="container flex-col bg-greyBlack rounded-xl gap-3 text-center p-5 flex justify-center items-start"
      >
          
          <div class="flex flex-col justify-center items-center gap-6">
            <div class="flex flex-row items-center text-start content-center h-[3rem]">
              <p class="font-semibold text-textBg w-[10rem]">Sueño</p>
              <p class="w-[15rem] text-textBg font-semibold">Deseo definir mi propósito empresarial</p>
             </div>
             <div class="flex flex-row items-center text-start content-center h-[4rem]">
              <p class="font-semibold text-textBg w-[10rem]">Medicion</p>
              <div class="max-h-[4rem] overflow-y-auto custom-scrollbar">
                <p class="w-[14.5rem] text-textBg font-semibold">Empresario con modelo de Marco filosófico: Propósito superior, propósito empresarial, visión, misión y valores corporativos</p>
              </div>
             </div>
             <div class="flex flex-row items-center text-start content-center h-[3rem]">
              <p class="font-semibold text-textBg w-[10rem]">Modulo</p>
              <div class="w-[15rem] text-textBg font-semibold">Estrategia y dirección gerencial</div>
             </div>
             <div class="flex flex-row items-center text-start content-center h-[2rem]">
              <p class="font-semibold text-textBg w-[10rem]">Nivel</p>
              <p class="w-[15rem] text-textBg font-semibold">SUEÑOS EXPRESS</p>
             </div>
          </div>
      </div>
      <p class="text-xl h-5 pb-4 text-white">Editar Sueño</p>
      <div
          class="container flex-col bg-greyBlack rounded-xl gap-3 text-center p-5 flex justify-center items-start"
      >
          
          <div class="flex flex-col justify-center items-center gap-6">
              <Input3 DataType="Sueño" inputPlaceholder="Deseo definir mi propósito empresarial" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/>
              <TextareaHero DataType="Medición" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" />
              <Input3 DataType="Modulo" inputPlaceholder="Estrategia y dirección gerencial" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/>
              <Input3 DataType="Nivel" inputPlaceholder="SUEÑOS EXPRESS" inputType="text" height="h-10" width="w-[10rem]" widthInput="w-[15rem]" additionalClass=""/>
          </div>
      </div>
    </div>
  )}

{condicion === 5 && (
    // Editar Pregunta
    <div class="flex flex-col gap-8">
      <div
          class="container flex-col bg-greyBlack rounded-xl gap-3 text-center p-5 flex justify-center items-start"
      >
          <p class="text-xl h-5 pb-10 text-white">Informacion de Pregunta</p>
          <div class="flex flex-col justify-center items-center gap-6">
            <div class="flex flex-row items-center text-start content-center h-[4rem]">
              <p class="font-semibold text-textBg w-[10rem]">Pregunta</p>
              <p class="w-[17rem] text-textBg font-semibold">¿La gerencia utiliza herramientas para la gestión de su tiempo y actividades?</p>
             </div>
             <div class="flex flex-row items-center text-start content-center h-[4rem]">
              <p class="font-semibold text-textBg w-[10rem]">Modulo</p>
              <p class="w-[17rem] text-textBg font-semibold">CAPACIDADES GERENCIALES</p>
             </div>
          </div>
      </div>
      <div
          class="container flex-col bg-greyBlack rounded-xl gap-3 text-center p-5 flex justify-center items-start"
      >
          <p class="text-xl h-5 pb-10 text-white">Editar Pregunta</p>
          <div class="flex flex-col justify-center items-center gap-6">
              <TextareaHero DataType="Medición" height="h-[4rem]" width="w-[10rem]" widthInput="w-[17rem]" />
              <Input3 DataType="Modulo" inputPlaceholder="CAPACIDADES GERENCIALES" inputType="text" height="h-[4rem]" width="w-[10rem]" widthInput="w-[17rem]" additionalClass=""/>
          </div>
      </div>
    </div>
  )}

{condicion === 6 && (
    // Nueva Preguntas
    <div class="flex flex-col gap-3">
      <div
          class="container flex-col bg-greyBlack rounded-xl gap-3 text-center p-5 flex justify-center items-start"
      >
          <p class="text-xl h-5 pb-10 text-white">Nueva Pregunta</p>
          <div class="flex flex-col justify-center items-center gap-6">
              <Input3 DataType="Pregunta" inputPlaceholder="¿La gerencia utiliza herramientas para la gestión de su tiempo y actividades?" inputType="text" height="h-[6rem]" width="w-[10rem]" widthInput="w-[17rem]" additionalClass=""/>
              <Input3 DataType="Modulo" inputPlaceholder="CAPACIDADES GERENCIALES" inputType="text" height="h-[4rem]" width="w-[10rem]" widthInput="w-[17rem]" additionalClass=""/>
          </div>
      </div>
    </div>
  )}

{condicion === 7 && (
  // Editar preguntas taller
      <div
          class="container flex-col bg-greyBlack rounded-xl gap-3 text-start p-5 flex justify-center "
      >
        <p class="text-xl p-3 text-white">Editar Taller</p>
          
          <div class="flex flex-col items-center justify-center gap-4">
              <Input3 DataType="Modulo" inputPlaceholder="CAPACIDADES GERENCIALES" inputType="text" height="h-16" width="w-[12rem]" widthInput="w-[20rem]" additionalClass=""/>
              <Input3 DataType="Tema o titulo de la formacion" inputPlaceholder="MISE Labs: Maneja tu tiempo y actividades con Trello" inputType="text" height="h-16" width="w-[12rem]" widthInput="w-[20rem]" additionalClass=""/>
              <Input3 DataType="Obgetivo" inputPlaceholder="Desarrollar habilidades practicas para manejo de tiempo y actividades con Trello" inputType="text" height="h-16" width="w-[12rem]" widthInput="w-[20rem]" additionalClass=""/>
              <Input3 DataType="Alcanze de la formacion" inputPlaceholder="Ruta de acompañamiento para la apropiacion de conocimientos" inputType="text" height="h-16" width="w-[12rem]" widthInput="w-[20rem]" additionalClass=""/>
              <Input3 DataType="Contenido" inputPlaceholder="Habilidades gerenciales, Creacion de cuenta de trello, creacion de tablero en trello" inputType="text" height="h-16" width="w-[12rem]" widthInput="w-[20rem]" additionalClass=""/>
              <Input3 DataType="Conferencista y facilitador" inputPlaceholder="Marybel Salazar, Líder CRM Viernes Estrategia Empresarial" inputType="text" height="h-16" width="w-[12rem]" widthInput="w-[20rem]" additionalClass=""/>
              <Input3 DataType="Fecha" inputPlaceholder="Martes, abril 16,2024" inputType="text" height="h-16" width="w-[12rem]" widthInput="w-[20rem]" additionalClass=""/>
              <Input3 DataType="Horario" inputPlaceholder="2:00pm a 5:00pm" inputType="text" height="h-16" width="w-[12rem]" widthInput="w-[20rem]" additionalClass=""/>
              <Input3 DataType="Ubicacion" inputPlaceholder="Cámara de Comercio de Palmira - Calle 28 N° 31-30" inputType="text" height="h-16" width="w-[12rem]" widthInput="w-[20rem]" additionalClass=""/>
          </div>
      </div>
)}


