<script>
  import { getAllCompanies } from "../../../api/pruebas.api";

  async function loadCompany() {
    const res = await getAllCompanies();
    console.log(res.data);
  }
  loadCompany();
</script>

<h1>Test Company</h1>
