---
<<<<<<< HEAD:Front-end/src/pages/editarUsuario/editarUsuario.astro
import NavBar from "../../components/nav/NavBar.astro";
import LayoutDashboard from "../../layouts/LayoutDashboard.astro";
import Boton from "../../components/inputs/boton.astro";
import iconGB from "../../images/icons/iconsEditUser/GoBack.png";
import iconUser from "../../images/icons/iconsEditUser/User.png";
import Input3 from "../../components/inputs/input3.astro";
import SideBar from "../../components/nav/sideBar.astro";
=======
import NavBar from "../components/nav/NavBar.astro";
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
import Boton from "../components/inputs/boton.astro";
import iconGB from "../images/icons/iconsEditUser/GoBack.png";
import iconUser from "../images/icons/iconsEditUser/User.png";
import Input3 from "../components/inputs/input3.astro";
>>>>>>> parent of 38066af (Merge branch 'Juan-Grajales' into Andrey-Lenis):Front-end/src/pages/editarUsuario.astro
---

<LayoutDashboard title="Editar Usuario">
  <main class="flex flex-row w-full bg-greyBlack h-screen">
    <NavBar />
    <div class="flex flex-col w-full h-full">
      <div
        class="bg-greyBlack flex content-center pt-4 pr-5 justify-end h-20 w-full"
      >
        <Boton />
      </div>
      <div class="bg-greyBg flex flex-col px-8 h-full w-full">
        <div class="flex flex-row gap-3 items-center text-textBg pt-3 pb-3 font-semibold">
          <img src={iconGB.src} alt="" />
          <p class="">Usuarios Registrados / Juan Fernando Grajales Ibargüen</p>
        </div>
        <div class="bg-greyBlack flex flex-col px-10 w-full rounded-md">
          <div class="flex flex-row py-2">
            <img src={iconUser.src} class="p-12" alt="" />
            <div
              class="flex flex-col justify-center gap-5 p-12 text-white font-semibold"
            >
              <p class="text-4xl">Brian Marin Salchimonster</p>
              <p>briandmh365@gmail.com</p>
              <p class="font-medium">Administrador</p>
            </div>
          </div>
          <div class="flex flex-col w-full px-14">
            <p class="text-white  text-3xl">
              Informacion Personal
            </p>
            <div
              class="flex flex-col text-textBg w-full pl-3 font-semibold gap-x-20 py-5 overflow-y-visible"
            >
              <Input3
                width="w-44"
                widthInput="w-full"
                DataType="Nombre"
                inputPlaceholder="Nombre Completo"
                inputType="text"
                height="h-12"
                additionalClass="w-full"
              />
              <Input3
                width="w-44"
                widthInput="w-full"
                DataType="Email"
                inputPlaceholder="Correo Electronico"
                inputType="email"
                height="h-12"
                additionalClass=""
              />
              <div class="flex flex-row gap-5">
                <Input3
                width="w-44"
                widthInput="w-full"
                DataType="Celular"
                inputPlaceholder="Prefijo"
                inputType="number"
                height="h-12"
                additionalClass=""
              />
              <Input3
                width="w-4"
                widthInput="w-full"
                DataType=""
                inputPlaceholder="Numero Celular"
                inputType="number"
                height="h-12"
                additionalClass=""
              />
              </div>
              <Input3
                width="w-44"
                widthInput="w-full"
                DataType="Contraseña"
                inputPlaceholder="*********"
                inputType="password"
                height="h-12"
                additionalClass=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</LayoutDashboard>
