---
import Logo from "../../components/logo.astro";
import LayoutDashboard from "../../layouts/LayoutDashboard.astro";
import ElementSidebar from "../../components/nav/elementsidebar.astro";
import Modal1 from "../../components/modales/modal1.astro";
import SideBar from "../../components/nav/sideBar.astro";
import { Elementosempresas } from "../../helpers/elementosempresas";
import TarjetasEmpresasreg from "../../components/tarjetasdashboard/tarjetasEmpresasreg.astro";
import { TablasEmpresas } from "../..//components/tablas/tablasEmpresas"
import TarjetasModulos from "../../components/tarjetasdashboard/tarjetasModulos.astro";
---

<LayoutDashboard title="Dashboard">
  <main class="bg-greyBg  h-screen relative z-0 overflow-x-hidden">
    <div class="flex flex-row">
      
      <div class="w-full h-full">
        <div class="bg-greyBlack  h-20 "></div>
        <div class="  w-full px-8 py-5">
          <div class=" h-full text-white gap-6">
            <div class=" flex-col">
              <div class="">
                <p class="text-2xl pl-4">Empresas registradas</p>
              </div>

              <div class="flex gap-6 text-sm p-3 pl-3">
                {
                  Elementosempresas.map((Elementosempresas, index) => (
                      <TarjetasEmpresasreg
                          empresaicon={Elementosempresas.empresaicon}
                          tipoTarjeta={Elementosempresas.tipoTarjeta}
                          numeroEmpresas={Elementosempresas.numeroEmpresas}
                      />
                  ))
              }
              </div>

              <div class="flex gap-10 w-[75rem]">
                <div class="container rounded-xl px-10 pt-5 pb-10 h-full flex gap-2 flex-col overflow-y-auto custom-scrollbar">
                  <div
                    class="flex items-center py-3 gap-4 text-left justify-end text-sm"
                  >
                    <input
                      type="text"
                      placeholder=""
                      class="border border-white rounded-lg bg-transparent -m-2 p-1"
                    />
                    <i class="fa-solid fa-magnifying-glass text-white"></i>
                    <div class="flex items-center">
                      <div
                        class="items-center flex gap-4 border-2 rounded-lg border-white bg-transpsrent text-white text-left p-2 pr-3 pl-3"
                      >
                        <p>Mas nuevas</p>
                        <i class="fa-solid fa-filter"></i>
                      </div>
                    </div>
                  </div>
                  <div class="overflow-y-auto custom-scrollbar rounded-xl">
                    <div class="max-h-[30rem] overflow-y-auto custom-scrollbar">
                      <TablasEmpresas client:load/>
                    </div>
                  </div>
                </div>
                <div
                  class=" static flex flex-col justify-center align-middle bg-darkslategray rounded-lg overflow-y-auto custom-scrollbar max-h-[19rem] w-[25rem]"
                >
                  <TarjetasModulos tipoTarjeta="General" moduloicon="fa-table-cells" />
                  <TarjetasModulos tipoTarjeta="Capacidades Gerenciales" moduloicon="fa-table-cells" />
                  <TarjetasModulos tipoTarjeta="Mejora de Operaciones" moduloicon="fa-table-cells" />
                  <TarjetasModulos tipoTarjeta="Gerencia de Marketing" moduloicon="fa-table-cells" />
                  <TarjetasModulos tipoTarjeta="Gerencia de Ventas" moduloicon="fa-table-cells" />
                  <TarjetasModulos tipoTarjeta="Gerencia de Talento Humano" moduloicon="fa-table-cells" />
                  <TarjetasModulos tipoTarjeta="Financias Gerenciales" moduloicon="fa-table-cells" />
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</LayoutDashboard>
