---
interface Props {
    icon: string;
    texto: string;
    URL: string;
}



const { icon, texto, URL } = Astro.props;
---


<a
onclick="click"    
class="cajaelemento flex-row justify-start items-center py-1 p-6 gap-x-2 align-middle rounded-3xl cursor-pointer hover:text-white group hover:bg-principalGreen transition-all duration-100 ease-in-out"  id="cajaelemento"
    href={URL}
>
    <div class="h-[45px] flex justify-center items-center icon-container" data-url={URL}>
        <i class={`text-2xl text-textBg group-hover:text-white ${icon}`}></i>
    </div>
    <div
        class="sidebar-element hidden font-semibold text-colortextsecondary pt-1 px-2 group-hover:text-white text-base " 
    >
        {texto}
    </div>
</a>