---
interface Props {
    icon: string;
    texto: string;
    URL: string;
}

const { icon, texto, URL } = Astro.props;
---


<div
    class="cajaelemento flex flex-row justify-start items-center py-1.5 px-3  align-middle rounded-md cursor-pointer hover:text-white group hover:bg-principalGreen"  id="cajaelemento"
>
    <div class="h-[45px] flex justify-center items-center icon-container" data-url={URL}>
        <i class={`text-2xl text-textBg group-hover:text-white ${icon}`}></i>
    </div>
    <a
        class="sidebar-element font-semibold text-colortextsecondary pt-1.5 px-2 group-hover:text-white" href={URL}
    >
        {texto}
    </a>
</div>