---
import Logo from "../../images/sideBarImg/Logo.png";
import IconExpand from "../../images/sideBarImg/Expand icon.png";
---

<aside class="h-screen bg-greyBlack rounded-md">
    <div class="flex flex-col gap-8">
        <img
            src={IconExpand.src}
            class="absolute pl-[16.7rem] pt-6 cursor-pointer"
            alt=""
        />
        <div class="">
            <img src={Logo.src} class="px-16" alt="" />
        </div>
        <div class="flex flex-col gap-3">
            <div
                class="flex flex-row pl-8 justify-start align-middle rounded-md gap-3 cursor-pointer hover:text-white group hover:bg-principalGreen"
            >
                <svg
                    class="group-hover:stroke-white"
                    width="35px"
                    height="35px"
                    viewBox="0 -0.5 25 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="#64748B"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M9.918 10.0005H7.082C6.66587 9.99708 6.26541 10.1591 5.96873 10.4509C5.67204 10.7427 5.50343 11.1404 5.5 11.5565V17.4455C5.5077 18.3117 6.21584 19.0078 7.082 19.0005H9.918C10.3341 19.004 10.7346 18.842 11.0313 18.5502C11.328 18.2584 11.4966 17.8607 11.5 17.4445V11.5565C11.4966 11.1404 11.328 10.7427 11.0313 10.4509C10.7346 10.1591 10.3341 9.99708 9.918 10.0005Z"
                            stroke="64748B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M9.918 4.0006H7.082C6.23326 3.97706 5.52559 4.64492 5.5 5.4936V6.5076C5.52559 7.35629 6.23326 8.02415 7.082 8.0006H9.918C10.7667 8.02415 11.4744 7.35629 11.5 6.5076V5.4936C11.4744 4.64492 10.7667 3.97706 9.918 4.0006Z"
                            stroke="64748B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M15.082 13.0007H17.917C18.3333 13.0044 18.734 12.8425 19.0309 12.5507C19.3278 12.2588 19.4966 11.861 19.5 11.4447V5.55666C19.4966 5.14054 19.328 4.74282 19.0313 4.45101C18.7346 4.1592 18.3341 3.9972 17.918 4.00066H15.082C14.6659 3.9972 14.2654 4.1592 13.9687 4.45101C13.672 4.74282 13.5034 5.14054 13.5 5.55666V11.4447C13.5034 11.8608 13.672 12.2585 13.9687 12.5503C14.2654 12.8421 14.6659 13.0041 15.082 13.0007Z"
                            stroke="64748B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M15.082 19.0006H17.917C18.7661 19.0247 19.4744 18.3567 19.5 17.5076V16.4936C19.4744 15.6449 18.7667 14.9771 17.918 15.0006H15.082C14.2333 14.9771 13.5256 15.6449 13.5 16.4936V17.5066C13.525 18.3557 14.2329 19.0241 15.082 19.0006Z"
                            stroke="64748B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g></svg
                >
                <p
                    class="font-semibold text-colortextsecondary pt-1.5 group-hover:text-white"
                >
                    Dashboard
                </p>
            </div>
            <div
                class="flex flex-row pl-8 justify-start align-middle gap-3 rounded-md hover:text-white group hover:bg-principalGreen"
            >
                <svg
                    class="group-hover:stroke-white"
                    width="35px"
                    height="35px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <path
                            d="M18 21V22C18.5523 22 19 21.5523 19 21H18ZM6 21H5C5 21.5523 5.44772 22 6 22V21ZM17.454 3.10899L17 4L17.454 3.10899ZM17.891 3.54601L17 4L17.891 3.54601ZM6.54601 3.10899L7 4L6.54601 3.10899ZM6.10899 3.54601L7 4L6.10899 3.54601ZM9 6C8.44772 6 8 6.44772 8 7C8 7.55228 8.44772 8 9 8V6ZM10 8C10.5523 8 11 7.55228 11 7C11 6.44772 10.5523 6 10 6V8ZM9 9C8.44772 9 8 9.44772 8 10C8 10.5523 8.44772 11 9 11V9ZM10 11C10.5523 11 11 10.5523 11 10C11 9.44772 10.5523 9 10 9V11ZM14 9C13.4477 9 13 9.44772 13 10C13 10.5523 13.4477 11 14 11V9ZM15 11C15.5523 11 16 10.5523 16 10C16 9.44772 15.5523 9 15 9V11ZM14 12C13.4477 12 13 12.4477 13 13C13 13.5523 13.4477 14 14 14V12ZM15 14C15.5523 14 16 13.5523 16 13C16 12.4477 15.5523 12 15 12V14ZM9 12C8.44772 12 8 12.4477 8 13C8 13.5523 8.44772 14 9 14V12ZM10 14C10.5523 14 11 13.5523 11 13C11 12.4477 10.5523 12 10 12V14ZM14 6C13.4477 6 13 6.44772 13 7C13 7.55228 13.4477 8 14 8V6ZM15 8C15.5523 8 16 7.55228 16 7C16 6.44772 15.5523 6 15 6V8ZM7.6 4H16.4V2H7.6V4ZM17 4.6V21H19V4.6H17ZM18 20H6V22H18V20ZM7 21V4.6H5V21H7ZM16.4 4C16.6965 4 16.8588 4.00078 16.9754 4.0103C17.0803 4.01887 17.0575 4.0293 17 4L17.908 2.21799C17.6366 2.07969 17.3668 2.03562 17.1382 2.01695C16.9213 1.99922 16.6635 2 16.4 2V4ZM19 4.6C19 4.33647 19.0008 4.07869 18.9831 3.86177C18.9644 3.63318 18.9203 3.36344 18.782 3.09202L17 4C16.9707 3.94249 16.9811 3.91972 16.9897 4.02463C16.9992 4.14122 17 4.30347 17 4.6H19ZM17 4L18.782 3.09202C18.5903 2.7157 18.2843 2.40973 17.908 2.21799L17 4ZM7.6 2C7.33647 2 7.07869 1.99922 6.86177 2.01695C6.63318 2.03562 6.36344 2.07969 6.09202 2.21799L7 4C6.94249 4.0293 6.91972 4.01887 7.02463 4.0103C7.14122 4.00078 7.30347 4 7.6 4V2ZM7 4.6C7 4.30347 7.00078 4.14122 7.0103 4.02463C7.01887 3.91972 7.0293 3.94249 7 4L5.21799 3.09202C5.07969 3.36344 5.03562 3.63318 5.01695 3.86177C4.99922 4.07869 5 4.33647 5 4.6H7ZM6.09202 2.21799C5.71569 2.40973 5.40973 2.71569 5.21799 3.09202L7 4L6.09202 2.21799ZM9 8H10V6H9V8ZM9 11H10V9H9V11ZM14 11H15V9H14V11ZM14 14H15V12H14V14ZM9 14H10V12H9V14ZM14 8H15V6H14V8ZM13 18V21H15V18H13ZM11 21V18H9V21H11ZM12 17C12.5523 17 13 17.4477 13 18H15C15 16.3431 13.6569 15 12 15V17ZM12 15C10.3431 15 9 16.3431 9 18H11C11 17.4477 11.4477 17 12 17V15Z"
                            fill="#64748B"></path>
                    </g></svg
                >
                <p
                    class="font-semibold text-colortextsecondary pt-1.5 group-hover:text-white"
                >
                    Empresas Registradas
                </p>
            </div>
            <div
                class="flex flex-row pl-8 justify-start align-middle gap-3 rounded-md hover:text-white group hover:bg-principalGreen"
            >
                <svg
                    fill="#64748B"
                    class="group-hover:stroke-white"
                    width="35px"
                    height="35px"
                    viewBox="0 0 32 32"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <path
                            d="M.63,25.93l7.48,3h0a1,1,0,0,0,.74,0h0L16,26.08l7.11,2.84h0a1,1,0,0,0,.74,0h0l7.48-3A1,1,0,0,0,32,25V17.5a1,1,0,0,0-.07-.35.93.93,0,0,0-.05-.1.86.86,0,0,0-.13-.2l-.08-.08a.78.78,0,0,0-.24-.16s0,0-.05,0h0L24.5,13.82V7a1,1,0,0,0-.07-.35.47.47,0,0,0-.05-.1.86.86,0,0,0-.13-.2l-.08-.08a.78.78,0,0,0-.24-.16s0,0-.05,0h0l-7.5-3a1,1,0,0,0-.74,0l-7.5,3h0s0,0,0,0a.78.78,0,0,0-.24.16.27.27,0,0,0-.07.08.9.9,0,0,0-.14.2.93.93,0,0,0,0,.1A1,1,0,0,0,7.5,7v6.82L.63,16.57h0s0,0-.05,0a.78.78,0,0,0-.24.16.6.6,0,0,0-.08.08.86.86,0,0,0-.13.2l0,.1A1,1,0,0,0,0,17.5V25A1,1,0,0,0,.63,25.93ZM15,24.32l-5.5,2.2V21.18L15,19Zm7.5,2.2L17,24.32V19l5.5,2.2Zm7.5-2.2-5.5,2.2V21.18L30,19ZM28.31,17.5,23.5,19.42,18.69,17.5l4.81-1.92ZM22.5,13.82,17,16V10.68l5.5-2.2ZM16,5.08,20.81,7,16,8.92,11.19,7ZM9.5,8.48l5.5,2.2V16l-5.5-2.2Zm-1,7.1,4.81,1.92L8.5,19.42,3.69,17.5ZM2,19l5.5,2.2v5.34L2,24.32Z"
                        ></path>
                    </g></svg
                >
                <p
                    class="font-semibold text-colortextsecondary pt-1.5 group-hover:text-white"
                >
                    Modulos
                </p>
            </div>
        </div>
        <div class="border-t-2 border-t-white">
            <p class="text-white h-2 pl-5 pt-5 font-semibold">Admin Control</p>
        </div>
        <div class="flex flex-col gap-3">
            <div
                class="flex flex-row pl-8 justify-start align-middle gap-3 rounded-md hover:text-white group hover:bg-principalGreen"
            >
                <svg
                    class="group-hover:stroke-white"
                    width="35px"
                    height="35px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <path
                            class="group-hover:stroke-white"
                            d="M13 20V18C13 15.2386 10.7614 13 8 13C5.23858 13 3 15.2386 3 18V20H13ZM13 20H21V19C21 16.0545 18.7614 14 16 14C14.5867 14 13.3103 14.6255 12.4009 15.6311M11 7C11 8.65685 9.65685 10 8 10C6.34315 10 5 8.65685 5 7C5 5.34315 6.34315 4 8 4C9.65685 4 11 5.34315 11 7ZM18 9C18 10.1046 17.1046 11 16 11C14.8954 11 14 10.1046 14 9C14 7.89543 14.8954 7 16 7C17.1046 7 18 7.89543 18 9Z"
                            stroke="#64748B"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g></svg
                >
                <p
                    class="font-semibold text-colortextsecondary pt-1.5 group-hover:text-white"
                >
                    Usuarios Registrados
                </p>
            </div>
            <div
                class="flex flex-row pl-8 justify-start align-middle gap-3 rounded-md hover:text-white group hover:bg-principalGreen"
            >
                <svg
                    class="group-hover:stroke-white"
                    width="35px"
                    height="35px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <circle
                            class="group-hover:stroke-white"
                            cx="12"
                            cy="12"
                            r="3"
                            stroke="#64748B"
                            stroke-width="1.5"></circle>
                        <path
                            class="group-hover:stroke-white"
                            d="M13.7654 2.15224C13.3978 2 12.9319 2 12 2C11.0681 2 10.6022 2 10.2346 2.15224C9.74457 2.35523 9.35522 2.74458 9.15223 3.23463C9.05957 3.45834 9.0233 3.7185 9.00911 4.09799C8.98826 4.65568 8.70226 5.17189 8.21894 5.45093C7.73564 5.72996 7.14559 5.71954 6.65219 5.45876C6.31645 5.2813 6.07301 5.18262 5.83294 5.15102C5.30704 5.08178 4.77518 5.22429 4.35436 5.5472C4.03874 5.78938 3.80577 6.1929 3.33983 6.99993C2.87389 7.80697 2.64092 8.21048 2.58899 8.60491C2.51976 9.1308 2.66227 9.66266 2.98518 10.0835C3.13256 10.2756 3.3397 10.437 3.66119 10.639C4.1338 10.936 4.43789 11.4419 4.43786 12C4.43783 12.5581 4.13375 13.0639 3.66118 13.3608C3.33965 13.5629 3.13248 13.7244 2.98508 13.9165C2.66217 14.3373 2.51966 14.8691 2.5889 15.395C2.64082 15.7894 2.87379 16.193 3.33973 17C3.80568 17.807 4.03865 18.2106 4.35426 18.4527C4.77508 18.7756 5.30694 18.9181 5.83284 18.8489C6.07289 18.8173 6.31632 18.7186 6.65204 18.5412C7.14547 18.2804 7.73556 18.27 8.2189 18.549C8.70224 18.8281 8.98826 19.3443 9.00911 19.9021C9.02331 20.2815 9.05957 20.5417 9.15223 20.7654C9.35522 21.2554 9.74457 21.6448 10.2346 21.8478C10.6022 22 11.0681 22 12 22C12.9319 22 13.3978 22 13.7654 21.8478C14.2554 21.6448 14.6448 21.2554 14.8477 20.7654C14.9404 20.5417 14.9767 20.2815 14.9909 19.902C15.0117 19.3443 15.2977 18.8281 15.781 18.549C16.2643 18.2699 16.8544 18.2804 17.3479 18.5412C17.6836 18.7186 17.927 18.8172 18.167 18.8488C18.6929 18.9181 19.2248 18.7756 19.6456 18.4527C19.9612 18.2105 20.1942 17.807 20.6601 16.9999C21.1261 16.1929 21.3591 15.7894 21.411 15.395C21.4802 14.8691 21.3377 14.3372 21.0148 13.9164C20.8674 13.7243 20.6602 13.5628 20.3387 13.3608C19.8662 13.0639 19.5621 12.558 19.5621 11.9999C19.5621 11.4418 19.8662 10.9361 20.3387 10.6392C20.6603 10.4371 20.8675 10.2757 21.0149 10.0835C21.3378 9.66273 21.4803 9.13087 21.4111 8.60497C21.3592 8.21055 21.1262 7.80703 20.6602 7C20.1943 6.19297 19.9613 5.78945 19.6457 5.54727C19.2249 5.22436 18.693 5.08185 18.1671 5.15109C17.9271 5.18269 17.6837 5.28136 17.3479 5.4588C16.8545 5.71959 16.2644 5.73002 15.7811 5.45096C15.2977 5.17191 15.0117 4.65566 14.9909 4.09794C14.9767 3.71848 14.9404 3.45833 14.8477 3.23463C14.6448 2.74458 14.2554 2.35523 13.7654 2.15224Z"
                            stroke="#64748B"
                            stroke-width="1.5"></path>
                    </g></svg
                >
                <p
                    class="font-semibold text-colortextsecondary pt-1.5 group-hover:text-white"
                >
                    Ajustes
                </p>
            </div>
        </div>
        <div class="border-t-2 h-4 border-t-white"></div>
        <div
            class="w-full relative bg-darkslategray box-border flex flex-row items-center justify-end p-6 gap-[12px] leading-[normal] tracking-[normal] text-left text-xs text-darkgray font-base-medium"
        >
            <div
                class="flex-1 flex flex-row items-center justify-start gap-[12px]"
            >
                <img
                    class="h-10 w-10 relative rounded-[99px] overflow-hidden shrink-0 object-cover"
                    loading="lazy"
                    alt=""
                    src="/public/avatar@2x.png"
                />

                <div
                    class="flex-1 flex flex-col items-start justify-start gap-[2px]"
                >
                    <div
                        class="self-stretch relative leading-[20px] font-medium"
                    >
                        Welcome back 👋
                    </div>
                    <div
                        class="self-stretch relative text-sm leading-[20px] font-medium text-white"
                    >
                        Johnathan
                    </div>
                </div>
            </div>
            <img
                class="h-5 w-5 relative overflow-hidden shrink-0"
                loading="lazy"
                alt=""
                src="/public/caret.svg"
            />
        </div>
    </div>
</aside>
