---
import Logo from "../components/logo.astro";
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
---

<LayoutDashboard title="Dashboard">
    <main class="bg-greyBg w-screen h-screen relative z-0">
        <div class="bg-greyBlack static"></div>

        <div class="h-full flex z-10">

            <div class="w-full h-full flex text-white">
                <div class="w-full flex text-white">
                    <div class="left w-full flex flex-col gap-5 p-7">
                        <div class="">
                            <p class="text-xl">Modulos</p>
                        </div>

                        <div
                            class="container h-full bg-greyBlack rounded-xl p-8"
                        >
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-7/12 flex text-white">
                <div class="left w-full flex flex-col gap-5 p-7">
                    <div class="">
                        <p class="text-xl">Sueños</p>
                    </div>
                    <div class="flex w-full justify-center whitespace-nowrap">
                        <div class="container bg-greyBlack rounded-xl p-7">
                            <div
                                class="flex items-center justify-center gap-28 p-3"
                            >
                                <input
                                    type="text"
                                    placeholder=""
                                    class="border border-white rounded-lg bg-greyBlack p-1 w-60"
                                />
                                <i
                                    class="fa-solid fa-magnifying-glass text-white"
                                ></i>
                                <div class="flex items-center">
                                    <div
                                        class="items-center flex gap-5 border rounded-lg border-white bg-transpsrent text-white text-left p-1 pl-3 pr-3"
                                    >
                                        <p>filtrar</p>
                                        <i class="fa-solid fa-filter"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="overflow-auto rounded-xl">
                                <div>
                                    <table
                                        class="overflow-auto w-full justify-center rounded"
                                    >
                                        <thead
                                            class="bg-principalGreen border rounded-xl"
                                        >
                                            <th class="w-28 p-5 text-left"
                                                >Nombre</th
                                            >
                                            <th class="w-15 p-5 text-left"
                                                >Sector empresarial</th
                                            >
                                            <th class="w-52 p-5 text-left"
                                                >Fecha</th
                                            >
                                        </thead>
                                        <tbody
                                            class="overflow-auto divide-y border border-white rounded-lg"
                                        >
                                            <tr class="bg-greyBg border-white">
                                                <td
                                                    class="p-5 text-sm text-gray-700 whitespace-nowrap"
                                                >
                                                    <a
                                                        href="#"
                                                        class="text-blue-500 hover:underline"
                                                        >Netflix</a
                                                    >
                                                </td>
                                                <td
                                                    class="p-5 text-sm text-white whitespace-nowrap rounded-lg"
                                                >
                                                    Entretenimiento
                                                </td>
                                                <td
                                                    class="p-5 text-sm text-gray-700 whitespace-nowrap border-white"
                                                >
                                                    <span
                                                        class="p-1.5 text-xs font-medium tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
                                                        >01 may 2024</span
                                                    >
                                                </td>
                                            </tr>

                                            <tr class="bg-greyBg border-white">
                                                <td
                                                    class="p-5 text-sm whitespace-nowrap"
                                                >
                                                    <a
                                                        href="#"
                                                        class="text-blue-500 hover:underline"
                                                        >mojang</a
                                                    >
                                                </td>
                                                <td
                                                    class="p-5 text-sm text-gray-700 whitespace-nowrap rounded-lg"
                                                    >Videojuegos
                                                </td>
                                                <td
                                                    class="p-5 text-sm text-gray-700 whitespace-nowrap"
                                                >
                                                    <span
                                                        class="p-1.5 text-xs font-medium text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50"
                                                        >11 Feb 2024</span
                                                    >
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div
                                class="container h-30 bg-greyBlack rounded-xl p-8"
                            >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main></LayoutDashboard>
