---
import Logo from "../components/logo.astro";
import NavBar from "../components/nav/NavBar.astro";
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
---

<LayoutDashboard title="Dashboard">
  <main class="bg-greyBg w-screen h-screen relative z-0">
    <div class="bg-greyBlack static top-0 h-[10%] w-full z-0"></div>

    <div class="h-screen flex z-10">
      <div class="h-full w-[17%]">
        <NavBar />
      </div>
      <div class="w-full h-full z-20 p-7 flex text-white gap-5">
        <div class="left flex flex-col gap-5">
          <div class="container bg-greyBlack rounded-xl p-8">
            <p>
              Grafica de empresas desarrolladas <span class="opacity-50"
                >(2023-2024)</span
              >
            </p>
          </div>
          <div class="container bg-greyBlack rounded-xl p-8">
            <p>Empresas Desarrolladas</p>
          </div>
        </div>
        <div class="right flex flex-col gap-5">
          <div class="container bg-greyBlack rounded-xl p-8">
            <p>Porcentaje de desarrollo</p>
            <div class="card border-white p-10 text-white flex flex-col gap-2">
              <p>No desarrollado</p>
              <div class="circular">
                <div class="inner"></div>
                <div class="outer"></div>
                <div class="numb">0%</div>
                <div class="circle">
                  <div class="dot">
                    <span></span>
                  </div>
                  <div class="bar left">
                    <div class="progress"></div>
                  </div>
                  <div class="bar right">
                    <div class="progress"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container bg-greyBlack rounded-xl p-8">
            <p>Empresas Aceptadas (69)</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</LayoutDashboard>
