---
import Logo from "../components/logo.astro";
import NavBar from "../components/nav/NavBar.astro";
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
---

<LayoutDashboard title="Dashboard">
  <main class="bg-greyBg flex flex-row w-screen h-screen relative z-0">
    <NavBar>
    <div class="bg-greyBg">

    </div>
  </main>
</LayoutDashboard>
