---
import NavBar from "../components/nav/NavBar.astro";
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
import Boton from "../components/inputs/boton.astro";
import iconGB from "../images/icons/iconsEditUser/GoBack.png";
import iconUser from "../images/icons/iconsEditUser/User.png";
import Input3 from "../components/inputs/input3.astro";
import SideBar from "../components/nav/sideBar.astro";
---

<LayoutDashboard title="Editar Usuario">
  <main class="flex flex-row w-full bg-greyBlack h-screen">
    <SideBar condicion={2} />
    <div class="flex flex-col w-full h-full">
      <div
        class="bg-greyBlack flex content-center pt-4 pr-5 justify-end h-20 w-full"
      >
        <Boton />
      </div>
      <div class="bg-greyBg flex flex-col px-8 h-full w-full">
        <div class="flex flex-row gap-3 items-center text-textBg pt-3 pb-3 font-semibold">
          <img src={iconGB.src} alt="" />
          <p class="">Usuarios Registrados / Juan Fernando Grajales Ibargüen</p>
        </div>
        <div class="bg-greyBlack flex flex-col px-10 w-full rounded-md">
          <div class="flex flex-row py-2">
            <img src={iconUser.src} class="p-5 w-36 h-36" alt="" />
            <div
              class="flex flex-col justify-center gap-5 pl-5 text-white font-semibold"
            >
              <p class="text-2xl">Brian Marin Salchimonster</p>
              <p>briandmh365@gmail.com</p>
              <p>Administrador</p>
            </div>
          </div>
          <div class="flex flex-col px-5">
            <p class="text-white font-semibold text-2xl">
              Informacion Personal
            </p>
            <div
              class="flex flex-col text-textBg pl-3 font-semibold gap-4 py-5 overflow-y-visible"
            >
              <Input3
                width="w-44"
                widthInput="w-[29.2rem]"
                DataType="Nombre"
                inputPlaceholder="Nombre Completo"
                inputType="text"
              />
              <Input3
                width="w-44"
                widthInput="w-[29.2rem]"
                DataType="Email"
                inputPlaceholder="Correo Electronico"
                inputType="email"
              />
              <div class="flex flex-row gap-5">
                <Input3
                width="w-44"
                widthInput="w-[9rem]"
                DataType="Celular"
                inputPlaceholder="Prefijo"
                inputType="number"
              />
              <Input3
                width="w-4"
                widthInput="w-[18rem]"
                DataType=""
                inputPlaceholder="Numero Celular"
                inputType="number"
              />
              </div>
              <Input3
                width="w-44"
                widthInput="w-[29.2rem]"
                DataType="Contraseña"
                inputPlaceholder="*********"
                inputType="password"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</LayoutDashboard>
