---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Editar">
    <div
        class="w-full relative flex flex-row items-start justify-start py-0 pr-0 pl-px box-border leading-[normal] tracking-[normal]"
    >
        <main
            class="flex-1 bg-darkslategray-100 flex flex-row items-start justify-start max-w-full shrink-0"
        >
            <section
                class="h-[965px] flex-1 relative [background:linear-gradient(#3c4147,_#3c4147),_#fdfffc] overflow-hidden max-w-full text-left text-5xl text-colorwhite font-roboto mq1550:h-auto mq1550:min-h-[965]"
            >
                <div
                    class="absolute top-[146px] left-[332px] leading-[140%] font-semibold inline-block w-[216.5px] h-[38.1px] mq450:text-lgi mq450:leading-[27px]"
                >
                    Editar porcentajes
                </div>
                <div
                    class="absolute top-[204.1px] left-[332px] rounded-lg bg-darkslategray-100 w-[1538px] overflow-hidden flex flex-col items-start justify-start py-10 px-[42px] box-border gap-[16.9px] max-w-full text-colortextsecondary"
                >
                    <div
                        class="self-stretch flex flex-row items-center justify-between py-0 px-[50px] box-border [row-gap:20px] max-w-full gap-[0px] mq1550:flex-wrap"
                    >
                        <div
                            class="w-[1153px] flex flex-row items-start justify-start py-2.5 px-0 box-border gap-[60px] max-w-full mq1225:flex-wrap"
                        >
                            <div
                                class="h-[178.7px] flex flex-col items-start justify-between py-[30px] px-0 box-border"
                            >
                                <div
                                    class="relative leading-[34px] inline-block min-w-[86px] mq450:text-lgi mq450:leading-[27px]"
                                >
                                    Nombre
                                </div>
                                <div
                                    class="relative leading-[34px] mq450:text-lgi mq450:leading-[27px]"
                                >
                                    Porcentaje de desarrollo
                                </div>
                            </div>
                            <div
                                class="flex-1 flex flex-col items-start justify-between py-5 pr-[50px] pl-0 box-border min-w-[541px] min-h-[179px] max-w-full text-xl mq850:min-w-full"
                            >
                                <div
                                    class="self-stretch rounded-8xs flex flex-row items-center justify-start py-3.5 px-2.5 border-[1px] border-solid border-colorwhite"
                                >
                                    <input
                                        class="w-[142px] [border:none] [outline:none] font-roboto text-xl bg-[transparent] h-7 relative leading-[140%] text-colortextsecondary text-left inline-block p-0 mq450:text-base mq450:leading-[22px]"
                                        placeholder="No desarrollado"
                                        type="text"
                                    />
                                </div>
                                <div
                                    class="self-stretch rounded-8xs flex flex-row items-center justify-start py-3.5 px-2.5 border-[1px] border-solid border-colorwhite"
                                >
                                    <div
                                        class="relative leading-[140%] inline-block min-w-[38px] mq450:text-base mq450:leading-[22px]"
                                    >
                                        25%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex flex-col items-center justify-start py-5 px-8 text-29xl text-colorwhite"
                        >
                            <div
                                class="flex flex-col items-center justify-center relative gap-[10px]"
                            >
                                <img
                                    class="w-[136.4px] h-[133px] relative"
                                    loading="lazy"
                                    alt=""
                                    src="/public/group-64.svg"
                                />

                                <div
                                    class="absolute !m-[0] top-[32.3px] left-[30.7px] leading-[140%] inline-block min-w-[79px] z-[1] mq850:text-19xl mq850:leading-[54px] mq450:text-10xl mq450:leading-[40px]"
                                >
                                    25%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="self-stretch flex flex-row flex-wrap items-start justify-start py-0 px-[50px] box-border max-w-full [row-gap:20px]"
                    >
                        <div
                            class="flex-1 flex flex-row items-start justify-start py-2.5 px-0 box-border gap-[60px] min-w-[749px] max-w-full mq1225:flex-wrap mq1225:min-w-full"
                        >
                            <div
                                class="h-[178.7px] flex flex-col items-start justify-between py-[30px] px-0 box-border"
                            >
                                <div
                                    class="relative leading-[34px] inline-block min-w-[86px] mq450:text-lgi mq450:leading-[27px]"
                                >
                                    Nombre
                                </div>
                                <div
                                    class="relative leading-[34px] mq450:text-lgi mq450:leading-[27px]"
                                >
                                    Porcentaje de desarrollo
                                </div>
                            </div>
                            <div
                                class="flex-1 flex flex-col items-start justify-between py-5 pr-[50px] pl-0 box-border min-w-[541px] min-h-[179px] max-w-full text-xl mq850:min-w-full"
                            >
                                <div
                                    class="self-stretch rounded-8xs flex flex-row items-center justify-start py-3.5 px-2.5 border-[1px] border-solid border-colorwhite"
                                >
                                    <input
                                        class="w-[142px] [border:none] [outline:none] font-roboto text-xl bg-[transparent] h-7 relative leading-[140%] text-colortextsecondary text-left inline-block p-0 mq450:text-base mq450:leading-[22px]"
                                        placeholder="No desarrollado"
                                        type="text"
                                    />
                                </div>
                                <div
                                    class="self-stretch rounded-8xs flex flex-row items-center justify-start py-3.5 px-2.5 border-[1px] border-solid border-colorwhite"
                                >
                                    <div
                                        class="relative leading-[140%] inline-block min-w-[38px] mq450:text-base mq450:leading-[22px]"
                                    >
                                        60%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="w-[201px] flex flex-col items-start justify-start pt-[12.8px] px-0 pb-0 box-border text-29xl text-colorwhite"
                        >
                            <div
                                class="self-stretch h-[173px] relative rounded-border-radius-md bg-darkslategray-100 overflow-hidden shrink-0"
                            >
                                <div
                                    class="absolute top-[20px] left-[32.3px] rounded-[50%] box-border w-[136.4px] h-[133px] border-[0px] border-solid border-dimgray"
                                >
                                </div>
                                <div
                                    class="absolute top-[20px] left-[32.3px] w-[136.4px] h-[133px]"
                                >
                                    <div
                                        class="absolute top-[0px] left-[0px] rounded-[50%] box-border w-full h-full z-[1] border-[0px] border-solid border-gold"
                                    >
                                    </div>
                                    <div
                                        class="absolute top-[32px] left-[30.4px] leading-[140%] inline-block w-[79px] min-w-[79px] z-[2] mq850:text-19xl mq850:leading-[54px] mq450:text-10xl mq450:leading-[40px]"
                                    >
                                        60%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="self-stretch flex flex-row flex-wrap items-start justify-start py-0 px-[50px] box-border max-w-full [row-gap:20px]"
                    >
                        <div
                            class="flex-1 flex flex-row items-start justify-start py-2.5 px-0 box-border gap-[60px] min-w-[749px] max-w-full mq1225:flex-wrap mq1225:min-w-full"
                        >
                            <div
                                class="h-[178.7px] flex flex-col items-start justify-between py-[30px] px-0 box-border"
                            >
                                <div
                                    class="relative leading-[34px] inline-block min-w-[86px] mq450:text-lgi mq450:leading-[27px]"
                                >
                                    Nombre
                                </div>
                                <div
                                    class="relative leading-[34px] mq450:text-lgi mq450:leading-[27px]"
                                >
                                    Porcentaje de desarrollo
                                </div>
                            </div>
                            <div
                                class="flex-1 flex flex-col items-start justify-between py-5 pr-[50px] pl-0 box-border min-w-[541px] min-h-[179px] max-w-full text-xl mq850:min-w-full"
                            >
                                <div
                                    class="self-stretch rounded-8xs flex flex-row items-center justify-start py-3.5 px-2.5 border-[1px] border-solid border-colorwhite"
                                >
                                    <input
                                        class="w-[142px] [border:none] [outline:none] font-roboto text-xl bg-[transparent] h-7 relative leading-[140%] text-colortextsecondary text-left inline-block p-0 mq450:text-base mq450:leading-[22px]"
                                        placeholder="No desarrollado"
                                        type="text"
                                    />
                                </div>
                                <div
                                    class="self-stretch rounded-8xs flex flex-row items-center justify-start py-3.5 px-2.5 border-[1px] border-solid border-colorwhite"
                                >
                                    <div
                                        class="relative leading-[140%] inline-block min-w-[38px] mq450:text-base mq450:leading-[22px]"
                                    >
                                        10%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="w-[201px] flex flex-col items-start justify-start pt-[12.8px] px-0 pb-0 box-border text-29xl text-colorwhite"
                        >
                            <div
                                class="self-stretch h-[173px] relative rounded-border-radius-md bg-darkslategray-100 overflow-hidden shrink-0"
                            >
                                <div
                                    class="absolute top-[20px] left-[32.3px] rounded-[50%] box-border w-[136.4px] h-[133px] border-[0px] border-solid border-dimgray"
                                >
                                </div>
                                <div
                                    class="absolute top-[20px] left-[32.3px] rounded-[50%] box-border w-[136.4px] h-[133px] z-[1] border-[0px] border-solid border-mediumseagreen"
                                >
                                </div>
                                <div
                                    class="absolute top-[52.7px] left-[62.7px] leading-[140%] inline-block w-[79px] min-w-[79px] z-[2] mq850:text-19xl mq850:leading-[54px] mq450:text-10xl mq450:leading-[40px]"
                                >
                                    10%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <header
                    class="absolute top-[0px] left-[0px] bg-darkslategray-200 w-full overflow-hidden flex flex-row items-start justify-end pt-[20.5px] px-10 pb-[21.5px] box-border max-w-full text-center text-5xl text-colorwhite font-roboto"
                >
                    <div
                        class="rounded-3xs flex flex-row items-start justify-start"
                    >
                        <div
                            class="rounded-3xs bg-olivedrab flex flex-row items-start justify-start py-[13px] px-[25px]"
                        >
                            <a
                                class="[text-decoration:none] relative font-bold text-[inherit] inline-block min-w-[87px]"
                                >Guardar</a
                            >
                        </div>
                    </div>
                </header>
                <div
                    class="absolute top-[1.8px] left-[-1px] shadow-[0px_16px_44px_rgba(0,_0,_0,_0.07)] rounded-2xl bg-darkslategray-100 w-[280px] flex flex-col items-start justify-start gap-[24px] z-[1] text-center text-[9px]"
                >
                    <div
                        class="self-stretch flex flex-row items-start justify-start py-padding-navbar px-[71px] relative gap-[12px]"
                    >
                        <div
                            class="h-6 w-6 !m-[0] absolute top-[28px] right-[-12px] rounded-80xl bg-olivedrab flex flex-row items-center justify-start p-1 box-border"
                        >
                            <img
                                class="h-4 w-4 relative overflow-hidden shrink-0"
                                loading="lazy"
                                alt=""
                                src="/public/iconsolidchevronleft.svg"
                            />
                        </div>
                        <div
                            class="flex-1 shadow-[20px_20px_4px_rgba(0,_0,_0,_0.25)] overflow-hidden flex flex-col items-start justify-start pt-[33.3px] pb-[17.3px] pr-[7px] pl-3 gap-[4.1px]"
                        >
                            <div
                                class="flex flex-row items-start justify-start py-0 px-11"
                            >
                                <img
                                    class="h-[9.1px] w-[11.3px] relative"
                                    loading="lazy"
                                    alt=""
                                    src="/public/vector.svg"
                                />
                            </div>
                            <div
                                class="self-stretch flex flex-row items-start justify-start py-0 pr-1 pl-px"
                            >
                                <div class="h-[37px] flex-1 relative">
                                    <img
                                        class="absolute top-[0.7px] left-[0px] w-[39.8px] h-[35.6px]"
                                        loading="lazy"
                                        alt=""
                                        src="/public/vector-1.svg"
                                    />

                                    <img
                                        class="absolute top-[0.8px] left-[89.5px] w-[24.8px] h-[35.5px]"
                                        alt=""
                                        src="/public/vector-2.svg"
                                    />

                                    <img
                                        class="absolute top-[0px] left-[58.1px] w-[26.2px] h-[37px]"
                                        loading="lazy"
                                        alt=""
                                        src="/public/vector-3.svg"
                                    />

                                    <img
                                        class="absolute top-[27.5px] left-[43.2px] w-[11.3px] h-[9px]"
                                        loading="lazy"
                                        alt=""
                                        src="/public/vector-4.svg"
                                    />

                                    <img
                                        class="absolute top-[18.5px] left-[43.1px] w-[11.3px] h-[9.1px] z-[1]"
                                        alt=""
                                        src="/public/vector-5.svg"
                                    />

                                    <img
                                        class="absolute top-[9.5px] left-[43.2px] w-[11.1px] h-[9px]"
                                        loading="lazy"
                                        alt=""
                                        src="/public/vector-6.svg"
                                    />

                                    <img
                                        class="absolute top-[0.6px] left-[43.3px] w-[10.9px] h-[8.8px]"
                                        loading="lazy"
                                        alt=""
                                        src="/public/vector-7.svg"
                                    />
                                </div>
                            </div>
                            <div
                                class="self-stretch relative tracking-[0.14em] [text-shadow:0px_4px_4px_rgba(0,_0,_0,_0.25)]"
                            >
                                Modelo Integral de Servicios Empresariales
                            </div>
                        </div>
                    </div>
                    <div
                        class="self-stretch flex flex-col items-start justify-start gap-[368.5px] text-left text-base text-colortextsecondary"
                    >
                        <div
                            class="self-stretch flex flex-col items-start justify-start gap-[23.5px]"
                        >
                            <div
                                class="self-stretch flex flex-col items-start justify-start py-0 px-padding-navbar gap-[4px]"
                            >
                                <div
                                    class="self-stretch rounded-xl bg-olivedrab overflow-hidden flex flex-row items-center justify-start py-3 px-4 text-colorwhite"
                                >
                                    <div
                                        class="flex-1 flex flex-row items-start justify-start relative gap-[12px]"
                                    >
                                        <div
                                            class="flex flex-row items-start justify-start"
                                        >
                                            <img
                                                class="h-5 w-5 relative overflow-hidden shrink-0"
                                                loading="lazy"
                                                alt=""
                                                src="/public/icon.svg"
                                            />
                                        </div>
                                        <a
                                            class="[text-decoration:none] relative leading-[20px] font-medium text-[inherit]"
                                            >Dashboard</a
                                        >
                                        <div
                                            class="h-2 w-2 !m-[0] absolute top-[13px] left-[-1px] rounded-80xl bg-darkorange box-border hidden z-[2] border-[1px] border-solid border-colorwhite"
                                        >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="self-stretch rounded-80xl overflow-hidden flex flex-row items-center justify-start py-3 px-4"
                                >
                                    <div
                                        class="flex-1 flex flex-row items-start justify-start relative gap-[12px]"
                                    >
                                        <div
                                            class="flex flex-row items-start justify-start"
                                        >
                                            <img
                                                class="h-5 w-5 relative overflow-hidden shrink-0"
                                                loading="lazy"
                                                alt=""
                                                src="/public/icon-1.svg"
                                            />
                                        </div>
                                        <div
                                            class="relative leading-[20px] font-medium"
                                        >
                                            Empresas Registradas
                                        </div>
                                        <div
                                            class="h-2 w-2 !m-[0] absolute top-[13px] left-[-1px] rounded-80xl bg-darkorange box-border hidden z-[2] border-[1px] border-solid border-colorwhite"
                                        >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="self-stretch rounded-80xl overflow-hidden flex flex-row items-center justify-start py-3 px-4"
                                >
                                    <div
                                        class="flex-1 flex flex-row items-start justify-start relative gap-[12px]"
                                    >
                                        <div
                                            class="flex flex-row items-start justify-start"
                                        >
                                            <img
                                                class="h-5 w-5 relative overflow-hidden shrink-0"
                                                loading="lazy"
                                                alt=""
                                                src="/public/icon-2.svg"
                                            />
                                        </div>
                                        <div
                                            class="relative leading-[20px] font-medium"
                                        >
                                            Modulos
                                        </div>
                                        <div
                                            class="h-2 w-2 !m-[0] absolute top-[13px] left-[-1px] rounded-80xl bg-darkorange box-border hidden z-[2] border-[1px] border-solid border-colorwhite"
                                        >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="self-stretch h-px relative box-border border-t-[1px] border-solid border-colorborder"
                            >
                            </div>
                            <div
                                class="self-stretch flex flex-col items-start justify-start py-0 px-padding-navbar gap-[4px]"
                            >
                                <div
                                    class="relative text-[17px] leading-[20px] font-medium text-colorwhite inline-block min-w-[110px]"
                                >
                                    Admin Control
                                </div>
                                <div
                                    class="self-stretch rounded-80xl overflow-hidden flex flex-row items-center justify-start py-3 px-4"
                                >
                                    <div
                                        class="flex-1 flex flex-row items-start justify-start relative gap-[12px]"
                                    >
                                        <div
                                            class="flex flex-row items-start justify-start"
                                        >
                                            <img
                                                class="h-5 w-5 relative overflow-hidden shrink-0"
                                                loading="lazy"
                                                alt=""
                                                src="/public/icon-3.svg"
                                            />
                                        </div>
                                        <div
                                            class="flex-1 relative leading-[20px] font-medium"
                                        >
                                            Usuarios Registrados
                                        </div>
                                        <div
                                            class="h-2 w-2 !m-[0] absolute top-[13px] left-[-1px] rounded-80xl bg-darkorange box-border hidden z-[2] border-[1px] border-solid border-colorwhite"
                                        >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="self-stretch rounded-80xl overflow-hidden flex flex-row items-center justify-start py-3 px-4"
                                >
                                    <div
                                        class="flex-1 flex flex-row items-start justify-start relative gap-[12px]"
                                    >
                                        <div
                                            class="flex flex-row items-start justify-start"
                                        >
                                            <img
                                                class="h-5 w-5 relative overflow-hidden shrink-0"
                                                loading="lazy"
                                                alt=""
                                                src="/public/icon-4.svg"
                                            />
                                        </div>
                                        <div
                                            class="flex-1 relative leading-[20px] font-medium"
                                        >
                                            Settings
                                        </div>
                                        <div
                                            class="h-2 w-2 !m-[0] absolute top-[13px] left-[-1px] rounded-80xl bg-darkorange box-border hidden z-[2] border-[1px] border-solid border-colorwhite"
                                        >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="self-stretch flex flex-row items-center justify-start pt-[22px] px-padding-navbar pb-padding-navbar gap-[12px] text-xs text-darkgray font-base-medium border-t-[1px] border-solid border-colorborder"
                        >
                            <div
                                class="flex-1 flex flex-row items-center justify-start gap-[12px]"
                            >
                                <img
                                    class="h-10 w-10 relative rounded-80xl overflow-hidden shrink-0 object-cover"
                                    loading="lazy"
                                    alt=""
                                    src="/public/avatar@2x.png"
                                />

                                <div
                                    class="flex-1 flex flex-col items-start justify-start gap-[2px]"
                                >
                                    <div
                                        class="self-stretch relative leading-[20px] font-medium"
                                    >
                                        Welcome back 👋
                                    </div>
                                    <div
                                        class="self-stretch relative text-sm leading-[20px] font-medium text-colorwhite"
                                    >
                                        Johnathan
                                    </div>
                                </div>
                            </div>
                            <img
                                class="h-5 w-5 relative overflow-hidden shrink-0"
                                loading="lazy"
                                alt=""
                                src="/public/caret.svg"
                            />
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</Layout>
