---
import NavBar from "../components/nav/NavBar.astro";
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
import Boton from "../components/inputs/boton.astro";
import iconGB from "../images/icons/iconsEditUser/GoBack.png";
import iconUser from "../images/icons/iconsEditUser/User.png";
---

<LayoutDashboard title="Editar Usuario">
  <main class="flex flex-row w-full h-screen">
    <NavBar />
    <div class="flex flex-col w-auto h-full">
      <div
        class="bg-greyBlack flex content-center pt-4 pr-5 justify-end h-20 w-full"
      >
        <Boton />
      </div>
      <div class="bg-greyBg flex flex-col h-full w-full">
        <div class="flex flex-row gap-3 text-textBg p-7 font-semibold">
          <img src={iconGB.src} alt="" />
          <p class="">Usuarios Registrados / Juan Fernando Grajales Ibargüen</p>
        </div>
        <div class="bg-greyBlack w-auto h-auto">
          <img src={iconUser} alt="" />
        </div>
      </div>
    </div>
  </main>
</LayoutDashboard>
