---
import Logo from "../components/logo.astro";
import NavBar from "../components/nav/NavBar.astro";
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
import Modal from "../components/inputs/modal.astro";
import Modal1 from "../components/modales/modal1.astro";
import Aadirmodulo from "../components/inputs/añadirmodulo.astro";
import Modalopciones from "../components/inputs/modalopciones.astro";
import Modaltaller from "../components/inputs/modaltaller.astro";
---

<LayoutDashboard title="Dashboard">
    <main class="bg-greyBg w-screen min-h-screen relative z-0">
        <div class="h-full w-full flex z-10">
            <div class="h-full">
                <NavBar />
            </div>
            <div class="flex flex-col"></div>
            <div class="bg-greyBlack flex content-center pr-5 h-20"></div>

            <div class="w-full h-full flex text-white">
                <div class="w-full flex text-white">
                    <div class="left w-full flex flex-col gap-5 p-7">
                        <div class="">
                            <p class="text-xl">Ver Talleres</p>
                        </div>

                        <div
                            class="container h-full bg-greyBlack rounded-xl p-10"
                        >
                            <div class="flex flex-wrap gap-10 items-center">
                                <Modaltaller texto={"CAPACIDADES GERENCIALES"} />
                                <Modaltaller texto={"MEJORA DE OPERACIONES"} />
                                <Modaltaller texto={"GERENCIA DE MARKETING"} />
                                <Modaltaller texto={"GERENCIA DE VENTAS"} />
                                <Modaltaller texto={"GERENCIA DE TALENTO HUMANO"} />
                                <Modaltaller texto={"FINANZAS GERENCIALES"} />
                                <Modaltaller texto={"FINANZAS GERENCIALES"} />
                                <Modaltaller texto={"FINANZAS GERENCIALES"} />
                                <Modaltaller texto={"FINANZAS GERENCIALES"} />
                                <Modaltaller texto={"FINANZAS GERENCIALES"} />
                                <Aadirmodulo />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-8/12 flex text-white ">
                <div class="left w-full flex flex-col p-7 justify-center gap-16 ">
                    <Modalopciones texto={"Sueños"} />
                    <Modalopciones texto={"Preguntas"} />
                    <Modalopciones texto={"Talleres"}/>
                </div>
            </div>
        </div>
    </main>
</LayoutDashboard>
