---
import NavBar from "../components/nav/NavBar.astro";
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
import Boton from "../components/inputs/boton.astro";
import iconGB from "../images/icons/iconsEditUser/GoBack.png";
import Input3 from "../components/inputs/input3.astro";
---

<LayoutDashboard title="Ver users">
  <main class="flex flex-row w-full bg-greyBlack h-screen">
    <NavBar />
    <div class="flex flex-col w-full h-full">
      <div
        class="bg-greyBlack flex content-center pt-4 pr-5 justify-end h-20 w-full"
      >
      </div>
      <div class="bg-greyBg flex flex-col px-8 h-full w-full">
        
      </div>
    </div>
  </main>
</LayoutDashboard>
