---
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
import Boton from "../components/inputs/boton.jsx";
import TablasUsers from "../components/tablas/tablasUsers";

---

<LayoutDashboard title="Editar Usuario">
  <main class="flex flex-row w-full bg-greyBlack h-screen">
    <div class="flex flex-col w-full h-full ">
      <div
        class=" flex content-center   justify-end h-20 w-full"
      >
      </div>
      <div class="bg-greyBg flex flex-col  h-full w-full px-12 pt-6">
        <div class=" gap-8 flex flex-col p-8  w-full rounded-md">
          <div class=" rounded-xl flex flex-col gap-6">
              <div class="flex flex-row justify-start items-center w-full">
                <p class="text-white font-bold text-2xl">Usuarios Registrados</p>
                
              </div>
            <div class="max-h-[40rem]  rounded-xl">
              <TablasUsers client:load/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</LayoutDashboard>
