---
interface Props {
  title: string;
}

const { title } = Astro.props;

import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faYoutube } from "@fortawesome/free-brands-svg-icons";
import { faEnvelope, faGamepad } from "@fortawesome/free-solid-svg-icons";
import SideBarWrapper from "../helpers/sideBar";
import { ViewTransitions } from "astro:transitions";

library.add(faYoutube, faEnvelope, faGamepad);

const gamepadIcon = icon({ prefix: "fas", iconName: faGamepad.iconName });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4c59fd786d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="flex flex-row h-full w-full">
    <SideBarWrapper />
    <slot />
  </body>
</html>
<style is:global>
  body {
    font-family: "Roboto", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .circular-progress {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(##ee0004 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circular-progress::before {
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
  }
  .progress-value {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #ee0004;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 13px; /* Ancho de la barra de desplazamiento */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #262b32; /* Color de fondo de la barra de desplazamiento */
    border-radius: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar (thumb) de la barra de desplazamiento */
    border-radius: 10px; /* Redondea las esquinas del pulgar */
    cursor: pointer;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del pulgar al pasar el ratón por encima */
  }

  .inputext {
    word-wrap: break-word; /* Permite que el texto salte a la siguiente línea */
    white-space: pre-wrap; /* Mantiene los espacios en blanco y permite saltos de línea */
    resize: vertical;
  }
</style>
